<div class="dropdown position-relative">
    <button
    type="button" class="btn btn-sm btn-text-accent w-auto">
        <i class="fas fa-filter"></i>
        <span>Filter</span> / 
        <span>0</span>
    </button>
</div>