<title>High5</title>
<!-- needed for pushstate seo-->
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/d0386702ff.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@0.3.0/dist/lottie-player.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js"></script>
<script type="text/javascript" src="/js/select2.js"></script>
<script src="/js/anime.js"></script>
<!--vue components-->
<script type="text/javascript" type="text/javascript" src="/js/vue.select2.js"></script>
<script type="text/javascript" src="/js/vue.license.js"></script>
<script type="text/javascript" src="/js/vue.certification.js"></script>
<script type="text/javascript" src="/js/vue.education.js"></script>
<script type="text/javascript" src="/js/vue.experience.js"></script>
<script type="text/javascript" src="/js/vue.fileuploader.js"></script>
<script type="text/javascript" src="/js/vue.tagsinput.js"></script>
<script type="text/javascript" src="/js/vue.sort.js"></script>
<script type="text/javascript" src="/js/vue.filter-flyout.js"></script>
<script type="text/javascript" src="/js/vue.filter.js"></script>
<script type="text/javascript" src="/js/vue.supplier-tiers.js"></script>
<script type="text/javascript" src="/js/vue.edit-tags.js"></script>
<script type="text/javascript" src="/js/vue.edit-text.js"></script>
<script type="text/javascript" src="/js/vue.avatar-edit.js"></script>
<script type="text/javascript" src="/js/vue.approvals-pending.js"></script>
<script type="text/javascript" src="/js/vue.approvals-intakeforms.js"></script>
<script type="text/javascript" src="/js/vue.suppliers-manage.js"></script>
<script type="text/javascript" src="/js/vue.supplier-add.js"></script>
<script type="text/javascript" src="/js/vue.supplier-add-modal.js"></script>
<script type="text/javascript" src="/js/vue.supplier-edit-modal.js"></script>
<script type="text/javascript" src="/js/vue.supplier-status-modal.js"></script>
<script type="text/javascript" src="/js/vue.supplier-review.js"></script>
<script type="text/javascript" src="/js/vue.supplier-flyout.js"></script>
<script type="text/javascript" src="/js/vue.employee-flyout.js"></script>
<script type="text/javascript" src="/js/vue.employee-delete-success.js"></script>
<script type="text/javascript" src="/js/vue.employee-modal.js"></script>
<script type="text/javascript" src="/js/vue.employee-manage.js"></script>
<script type="text/javascript" src="/js/vue.profile-flyout.js"></script>
<script type="text/javascript" src="/js/vue.learning-flyout.js"></script>
<script type="text/javascript" src="/js/vue.learning-manage.js"></script>
<script type="text/javascript" src="/js/vue.learning-assign-modal.js"></script>
<script type="text/javascript" src="/js/vue.job-flyout.js"></script>
<script type="text/javascript" src="/js/vue.rtr-flyout.js"></script>
<script type="text/javascript" src="/js/vue.intakeform-manager.js"></script>
<script type="text/javascript" src="/js/vue.intakeform-reject-modal.js"></script>
<script type="text/javascript" src="/js/vue.interview-flyout.js"></script>
<script type="text/javascript" src="/js/vue.candidate-schedule-interview-modal.js"></script>
<script type="text/javascript" src="/js/vue.candidate-apply-modal.js"></script>
<script type="text/javascript" src="/js/vue.assessment-modal.js"></script>
<script type="text/javascript" src="/js/vue.candidate-job-flyout.js"></script>
<script type="text/javascript" src="/js/vue.tenant-flyout.js"></script>
<script type="text/javascript" src="/js/vue.tenant-delete-success.js"></script>
<script type="text/javascript" src="/js/vue.record-modal.js"></script>
<script type="text/javascript" src="/js/vue.tenant-manage.js"></script>
<script type="text/javascript" src="/js/vue.manage-table.js"></script>
<script type="text/javascript" src="/js/vue.user-flyout.js"></script>
<script type="text/javascript" src="/js/vue.user-delete-success.js"></script>
<script type="text/javascript" src="/js/vue.user-modal.js"></script>
<script type="text/javascript" src="/js/vue.user-manage.js"></script>
<script type="text/javascript" src="/js/vue.roles.js"></script>
<script type="text/javascript" src="/js/vue.manage-privileges.js"></script>
<script type="text/javascript" src="/js/vue.modal.js"></script>

<!--basic app utils-->
<script src="/js/app.js"></script>
