<div id="Nav">
    <div class="top">
        <div class="d-flex align-items-center">
            <div class="brand-logo" style="background-image:url('/images/high5-mark-circle.svg')"></div>
            <div class="title px-2">
                <h6 class="mb-0">Garrett M.</h6>
                <small class="mb-0">Jacksonville FL</small>
            </div>
        </div>
    </div>
    <div class="body">
        <ul class="menu">
            <li>
                <a href="/candidate/dashboard"><i class="fad fa-fw fa-home-lg-alt mr-3"></i><span class="nav-text">Dashboard</span></a>
            </li>
            <li>
                <a href="/candidate/jobs" ><i class="fad fa-fw fa-briefcase mr-3"></i><span class="nav-text">Jobs</span></a>
            </li>
            <li>
                <a href="/candidate/interviews" ><i class="fad  fa-fw fa-users-class mr-3"></i><span class="nav-text">Interviews</span></a>
            </li>
            <li>
                <a href="/candidate/learning" ><i class="fad fa-chalkboard-teacher fa-fw mr-3"></i><span class="nav-text">Learning</span></a>
            </li>
            <li>
                <a href="/candidate/assessments" ><i class="fad fa-fw fa-award mr-3"></i><span class="nav-text">Assessments</span></a>
            </li>
        </ul>
    </div>
</div>