<div id="Nav">
    <div class="top">
        <div class="d-flex align-items-center">
            <div class="brand-logo" style="background-image:url('/images/high5-mark-circle.svg')"></div>
            <div class="title px-2">
                <h6 class="mb-0">Garrett M.</h6>
                <small class="mb-0">Dashboard Views</small>
            </div>
        </div>
    </div>
    <div class="body">
        <ul class="menu">
            <li>
                <a href="/superadmin/dashboard"><i class="fad fa-fw fa-home-lg-alt mr-3"></i><span class="nav-text">Super Admin</span></a>
            </li>
            <li>
                <a href="/high5coordinator/dashboard" ><i class="fad fa-fw fa-users mr-3"></i><span class="nav-text">High5 Coordinator</span></a>
            </li>
            <li>
                <a href="/communitymanager/dashboard" ><i class="fad fa-fw fa-briefcase mr-3"></i><span class="nav-text">Community Manager</span></a>
            </li>
            <li>
                <a href="/salesadmin/dashboard" ><i class="fad fa-fw fa-briefcase mr-3"></i><span class="nav-text">Sales Admin</span></a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/js/vue.add-new-item-button.js"></script>