<div id="Nav">
    <div class="top">
        <div class="d-flex align-items-center">
            <div class="brand-logo" style="background-image:url('/images/high5-mark-circle.svg')"></div>
            <div class="title px-2">
                <h6 class="mb-0">Garrett M.</h6>
                <small class="mb-0">Widgets</small>
            </div>
        </div>
    </div>
    <div class="body">
        <ul class="menu">
            <li>
                <a href="/widgets/dashboard"><i class="fad fa-fw fa-home-lg-alt mr-3"></i><span class="nav-text">Dashboard</span></a>
            </li>
        </ul>
    </div>
</div>