.section {
  .comingSoonImg {
    width: 350px;
    display: block;
    margin: 0 auto;
  }
  .notFoundGif{
    width: 500px;
  }
}


@media (max-width: 575px) {
  .section {
    .comingSoonImg {
      max-width: 100%;
      width: auto;
    }
  }
}
