.fileuploader{
    .fileuploader-droparea{
        width: 100%;
        background: $gray4;
        border: 2px dashed $gray_disabled;
        display: flex;
        @include border-radius(6px);
        justify-content: center;
        align-items: center;
        height: 200px;
        cursor: pointer;
        .icon{
            font-size: 48px;
        }
    }
    .fileuploader-single{
        height: 1px;
        width: 1px;
        opacity: 0;
    }
    .fileuploader-list{
        list-style-type: none;
        li{
            width: 100%;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding: 5px 10px;
            background: $blue_gray;
            margin-bottom: 5px;
            @include border-radius(4px);
        }
    }
}