.timeline-wrap{
    max-height: 500px;
    overflow: auto;
    padding-left: 10px;
}
.timeline{
    display: flex;
    border-left: 1px solid $gray3;
    align-items: flex-start;
    .icon{
        margin-left: -8px;
        margin-top: 6px;
        margin-right: 15px;
        color: $muted_gray;
        font-size: 12px;
    }
}
@media(max-width: 1200px){
    .timeline{
        .icon{
            font-size: 14px;
        }
    }
}
@media(max-width: 800px){
    .timeline{
        .icon{
            font-size: 12px;
        }
    }
}