$MainMenuWidth: 250px;
$MainMenuHeaderHeight: 130px;
$NavWidth: 250px;
$TopBarHeight: 50px;

$green_accessibility:   #445A1B;
$green_button:         #3AB549;
$green_primary:         #3AB549;
$green1:                #2dc109;
$green2:                #ecfad4;
$green3:                #16853b;
$green4:                #52da81;
$green5:                #1bbdaa;

$font_accent:           #00162e;
$blue5:                 #014283;
$blue_primary:          #009EFF; 
$blue1:                 #009EFF;
$blue2:                 #a3d6fd;
$blue3:                 #dcedff;
$blue_gray:             #f2f5ff;
$blue4:                 #ebf1f7;

$purple1:               #8400FF;
$purple2:               #9D33FF;
$purple3:               #CE99FF;


$orange_accessibility:  #5f3801;
$orange1:               #F6811E;
$orange2:               #F89A4B;
$orange3:               #FCCDA5;

$red_accessibility:     #7c1e19;
$red1:                  #EE1930;
$red2:                  #fdcecc;
$pink:                  #fa4dd4;

$black2:                #071c20;
$gray1:                 #718096;
$gray_border:           #727475;
$gray_disabled:         #CFCFCF;
$gray2:                 #e1e1e1;
$gray3:                 #f1f1f1;
$gray4:                 #fbfbfd;
$muted_gray:            #93abca; 
$gray_btn:              #E4ECF7;

$brand_coral:           #FF5F57;
$brand_blue:            #001B38;
$font_primary:          #1b1a1a;
$white:                 #ffffff;


