<% layout('layouts/layout') -%>
<section class="section section-sm bg-gray3 text-center bg-cover bg-cover h-100 notFound">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="notFoundIcon">
                    <img height="60px" src="/images/high5-std.svg"/>
                    <lottie-player src="/lottie/404.json" background="transparent" speed="1" class="comingSoonImg notFoundGif" loop autoplay></lottie-player>
                </div>
                <h4 class="font-bold brand_blue"><span class="font-coral">We're Sorry</span></h4>
                <p> but we can't seem to find the page you are looking for</p>
                <a class="btn btn-coral btn-rounded mt-3 mb-5" href="/">Back to Home</a>
            </div>
        </div>
    </div>
</section>