<% layout('layouts/layout') -%>
<div id="ForgotPassword" class="login-layout">
    <div class="col-left d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">

                    <div  v-bind:class="{ 'd-block': formComplete }" style="display: none;">
                        <div class="success-animation">
                            <div class="checkmark">
                                <lottie-player 
                                id="LottieCheckmark"
                                background="transparent" 
                                src="/lottie/checkmark.json"
                                speed="1"></lottie-player>
                            </div>
                            <div class="sparkles">
                                <lottie-player 
                                id="LottieSparkles"
                                background="transparent" 
                                src="/lottie/sparkles.json"
                                speed="1"></lottie-player>
                            </div>
                        </div>
                        <div class="success-message" style="opacity: 0;">
                            <div class="container">
                                <div class="col-lg-12">
                                    <h4 class="text-center">Reset Request Recieved!</h4>
                                    <p class="text-center">An email has been sent to <strong>{{email}}</strong> with details on how to reset your password. Please check your email for further instructions
                                    <div class="text-center mt-5">
                                        <a href="/login"  class="btn btn-dark mr-2" data-dismiss="modal">Back To Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div v-bind:class="{ 'd-none': formComplete }">
                        <a class="logo" href="/">
                            <img src="/images/high5-std.svg"/>             
                        </a>
                        <div class="section section-sm">
                            <h1>Forgot Password?</h1>
                            <p>
                                Enter the email address of your account and we’ll send you the instructions to reset your password
                            </p>
                      
                            <div class="form-floating mb-3">
                                <input 
                                v-model="email"
                                type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <label for="exampleInputEmail1">Email address</label>
                            </div>

                            <div v-if="hasSubmitError" class="alert alert-danger d-block mt-2">
                                <div class="inner d-flex">
                                    <div class="mr-2">
                                        <i class="far fa-exclamation-circle font-red font-18"></i>
                                    </div>
                                    <div>
                                        <h6 class="title mb-0">Unable To Complete Request</h6>
                                        <p class="description">We're sorry but we were unable to complete this request at this time.  Please try again in a few minutes and if the problem still persists, please <a href="/support">contact support</a></p>
                                    </div>
                                </div>
                            </div>


                            <button type="submit" v-on:click="submit" :disabled="!formReady" class="btn btn-dark w-100">
                                    <span v-if="!submittingForm">Reset Password</span>
                                    <span v-if="submittingForm">
                                        Submitting Reset Request
                                    <img width="20px" src="/images/button-loader2.gif"/>
                                    </span>                                  
                            </button>   
                            <p class="text-center mt-5">
                                Remember Your Password? <a href="/login">Login</a>
                            </p>                        

                        </div>
                    </div>
               

                </div>
            </div>
        </div>
    </div>
    <div class="col-right bg-cover" style="background-image: url('/images/tribalpattern-lock.svg');"></div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#ForgotPassword',
            data: {
            email: "",
            formReady: false,
            submittingForm: false,
            hasSubmitError: false,
            formComplete: false
        },
        watch: {
            email: function (val) {
                if(val.length > 0){
                    this.formReady = true;
                }else{
                    this.formReady = false;
                }
            }
        },
        methods: {
            submit: function(){
                var app = this;
                app.submittingForm = true;
                //simulating an ajax call
                setTimeout(function(){

                    app.submittingForm  = false;

                    var success = Math.floor(Math.random() * 10) + 1;
                    
                    if(success <5){
                        //simulating an error response
                        app.hasSubmitError = true;

                    }else{
                        //simulating success response
                        app.formComplete = true;

                        var lotties =`<div class="checkmark">
                                    <lottie-player 
                                    id="LottieCheckmark"
                                    background="transparent" 
                                    src="/lottie/checkmark.json"
                                    speed="1" autoplay></lottie-player>
                                </div>
                                <div class="sparkles">
                                    <lottie-player 
                                    id="LottieSparkles"
                                    background="transparent" 
                                    src="/lottie/sparkles.json"
                                    speed="1" autoplay></lottie-player>
                                </div>`;


                        var elem = document.querySelector('.success-animation');
                        var html = elem.innerHTML
                        elem.innerHTML = lotties;

                        anime({
                            targets: '#LottieSparkles',
                            opacity: 0,
                            delay: 1000
                        });
                        anime({
                            targets: '.success-message',
                            opacity: 1,
                            delay: 800,
                            easing: 'linear'
                        });
                    }
                },2000);          
            }
        }
    });
</script>
