<% layout('layouts/layout') -%>
<div class="section d-lg-flex align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-1 text-center">
                <img class="w-100" style="max-width: 150px;" src="/images/high5-mark-circle.svg"/>
                <br/>
                <strong>Prototype</strong>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-xl-12">
                <p class="lead text-center">Choose Your Experience</p>
                <div class="row mt-5">
                    <div class="col-xl-3 d-flex">
                        <a href="/login" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/door-open.svg"/>
                                <h6 class="mt-4">Login</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/forgot-password" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/key.svg"/>
                                <h6 class="mt-4">Forgot Password</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/password-setup" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/key-skeleton.svg"/>
                                <h6 class="mt-4">Password Setup</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <div class="card bg-blue_gray card-flat col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/user-plus.svg"/>
                                <h6 class="mt-4">Signup</h6>
                                <strong class="font-muted">Coming Soon</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 d-flex">
                        <a href="/hiringmanager/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/coffee.svg"/>
                                <h6 class="mt-4">Hiring Manager</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/recruiter/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/shirt.svg"/>
                                <h6 class="mt-4">Recruiter</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/candidate/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/briefcase.svg"/>
                                <h6 class="mt-4">Talent</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/tenant/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <img height="30px" src="/images/icons/crown.svg"/>
                                <h6 class="mt-4">Tenant</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 d-flex">
                        <a href="/superadmin/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <h2 class="font-coral"><i class="fad fa-user-ninja"></i></h2>
                                <h6 class="mt-4">Super Admin</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/high5coordinator/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <h2 class="font-coral"><i class="fad fa-expand-arrows"></i></h2>
                                <h6 class="mt-4">H5 Coordinator</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/communitymanager/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <h2 class="font-coral"><i class="fad fa-users"></i></h2>
                                <h6 class="mt-4">Community Manager</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <a href="/salesadmin/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <h2 class="font-coral"><i class="fad fa-user-tie"></i></h2>
                                <h6 class="mt-4">Sales Admin</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 d-flex">
                        <a href="/widgets/dashboard" class="card col p-0 card-xl mb-2">
                            <div class="card-body text-center">
                                <h2 class="font-coral"><i class="fad fa-shapes"></i></h2>
                                <h6 class="mt-4">Management Widgets</h6>
                                <strong class="font-coral">Launch</strong>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>