<% layout('layouts/layout') -%>
<div id="PasswordSetup" class="login-layout">
    <div class="col-left d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">


                    <div  v-bind:class="{ 'd-block': formComplete }" style="display: none;">
                        <div class="success-animation">
                            <div class="checkmark">
                                <lottie-player 
                                id="LottieCheckmark"
                                background="transparent" 
                                src="/lottie/checkmark.json"
                                speed="1"></lottie-player>
                            </div>
                            <div class="sparkles">
                                <lottie-player 
                                id="LottieSparkles"
                                background="transparent" 
                                src="/lottie/sparkles.json"
                                speed="1"></lottie-player>
                            </div>
                        </div>
                        <div class="success-message" style="opacity: 0;">
                            <div class="container">
                                <div class="col-lg-12">
                                    <h4 class="text-center">Success</h4>
                                    <p class="text-center">Your password is all set.  You can now visit the login page and use this password to login to the system</p>
                                    <div class="text-center mt-5">
                                        <a href="/login"  class="btn btn-dark mr-2" data-dismiss="modal">Login Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>


                    <div v-bind:class="{ 'd-none': formComplete }">
                        <a class="logo" href="/">
                            <img src="/images/high5-std.svg"/>
                        </a>
                        <div class="section section-sm">
                            <h2>Set Your New Password</h2>
                            <p>
                                Enter the password you would like to set for your account.
                            </p>
                                <div class="mb-3">
                                    <p class="mt-2">
                                        <small><strong class="mr-2 mb-1 d-block">Password Requirements</strong></small>
                                        <span class="tag mr-2" v-bind:class="{ 'tag-green2': passwordLength }">Min 8 Characters <i v-if="!passwordLength" class="ml-1 far fa-circle"></i><i v-else class="ml-1 fas fa-check-circle"></i></span>
                                        <span class="tag mr-2" v-bind:class="{ 'tag-green2': passwordCondition }">1 Number Or Special Character <i v-if="!passwordCondition" class="ml-1 far fa-circle"></i><i v-else class="ml-1 fas fa-check-circle"></i></span>
                                    </p>
                                </div>        
                                 <div class="form-floating mb-2">
                                    <input v-model="password" type="password" :disabled="disableNewPassword||submittingForm" class="form-control" id="newPassword" aria-describedby="newPasswordSetup" placeholder="New Password">
                                    <label for="newPassword">New Password</label>
                                 </div>

                             
                                <div class="form-floating mb-2">
                                    <input v-model="passwordConfirmation" type="password" :disabled="!enableConfirm || submittingForm" class="form-control" id="confirmPassword" aria-describedby="newPasswordConfirmation" placeholder="Confirm Password">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <small v-bind:class="{ 'd-none': !passwordMisMatch }" class="text-danger mb-2">Passwords do not match</small>
                                </div>
    
                                <div class="form my-3">
                                    <input style="width: 20px;" v-model="userAgreement" :disabled="!enableAgreement || submittingForm" type="checkbox" class="form-check-input form-check-input--primary d-inline-block" value="I agree" id="termsAndConditions" aria-describedby="termsAndConditionsAgreement">
                                    <label class="p-1 pl-2" for="termsAndConditions">I agree to the <a href="/terms-and-conditions">Terms and Conditions</a></label>
                                </div>
                    
                                <button type="submit" v-on:click="submit" :disabled="!formReady" class="btn btn-dark w-100">
                                        <span v-if="!submittingForm">Confirm Password</span>
                                        <span v-if="submittingForm">
                                            Setting Up Password
                                        <img width="20px" src="/images/button-loader2.gif"/>
                                        </span>
                                </button>
                     

                                  <div v-if="hasSubmitError" class="alert alert-danger d-block mt-2">
                                    <div class="inner d-flex">
                                        <div class="mr-2">
                                            <i class="far fa-exclamation-circle font-red font-18"></i>
                                        </div>
                                        <div>
                                            <h6 class="title mb-0">Unable To Complete Request</h6>
                                            <p class="description">We're sorry but we were unable to complete this request at this time.  Please try again in a few minutes and if the problem still persists, please <a href="/support">contact support</a></p>
                                        </div>
                                    </div>
                                  </div>
                                  
         
                        </div>
                    </div>
               

                </div>
            </div>
        </div>
    </div>
    <div class="col-right bg-cover bg-center" style="background-image: url('/images/tribalpattern-key.svg');"></div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#PasswordSetup',
            data: {
            password: "",
            passwordConfirmation: "",
            userAgreement: "",
            passwordLength: false,
            passwordCondition: false,
            passwordMisMatch: false,
            formReady: false,
            submittingForm: false,
            hasSubmitError: false,
            formComplete: false,
            enableConfirm: false,
            disableNewPassword: false,
            enableAgreement: false
        },
        watch: {
            password: function (val) {
            this.validatePassword();
            },
            passwordConfirmation: function (val) {
                this.validateConfirm();
            },
            userAgreement: function (val) {
                this.validateAgreement();
            }
        },
        methods: {
            validateAgreement: function(){
                if(this.userAgreement){
                    this.formReady = true; //here
                }else{
                    this.disableNewPassword = false;
                    this.enableConfirm = true;
                    this.formReady = false;
                    this.formComplete = false;
                }
            },
            validateConfirm: function(){
                if(this.passwordConfirmation === this.password){
                    this.enableAgreement = true;
                    this.passwordMisMatch = false;
                }else{
                    this.enableAgreement = false;
                    this.passwordMisMatch = true;
                    this.userAgreement = false;
                    this.formReady = false;
                }
            },
            validatePassword: function(){
                var enableCnt = 0;
                var charecters = /^[A-Za-z]+$/;
                var numberPresent = /^(?=.*[0-9])/;
                var specialCharacterPresent = /^(?=.*[!@#$%^&*])/;

                if(this.password.trim().length >= 8){
                    this.passwordLength = true;
                    enableCnt = enableCnt + 1;
                }else{
                    this.passwordLength = false;
                }
          
                if(numberPresent.test(this.password) || specialCharacterPresent.test(this.password)) {
                    enableCnt = enableCnt + 1;
                    this.passwordCondition = true;
                }else{
                    this.passwordCondition = false;
                }
                if(this.passwordLength === true && this.passwordCondition === true){
                    if(this.password != this.passwordConfirmation){
                        this.passwordMisMatch = true;
                        this.enableAgreement = false;
                    }
                    else{
                        this.passwordMisMatch = false;
                        this.enableAgreement = true;
                    }
                    this.enableConfirm = true;
                }else{
                    this.enableConfirm = false;
                    this.enableAgreement = false;
                    this.formReady = false;
                }
            },
            submit: function(){
                var app = this;
                app.submittingForm = true;
                //simulating an ajax call
                setTimeout(function(){

                    app.submittingForm  = false;

                    var success = Math.floor(Math.random() * 10) + 1;
                    
                    if(success <5){
                        //simulating an error response
                        app.hasSubmitError = true;

                    }else{
                        //simulating success response
                        app.formComplete = true;

                        var lotties =`<div class="checkmark">
                                    <lottie-player 
                                    id="LottieCheckmark"
                                    background="transparent" 
                                    src="/lottie/checkmark.json"
                                    speed="1" autoplay></lottie-player>
                                </div>
                                <div class="sparkles">
                                    <lottie-player 
                                    id="LottieSparkles"
                                    background="transparent" 
                                    src="/lottie/sparkles.json"
                                    speed="1" autoplay></lottie-player>
                                </div>`;


                        var elem = document.querySelector('.success-animation');
                        var html = elem.innerHTML
                        elem.innerHTML = lotties;

                        anime({
                            targets: '#LottieSparkles',
                            opacity: 0,
                            delay: 1000
                        });
                        anime({
                            targets: '.success-message',
                            opacity: 1,
                            delay: 800,
                            easing: 'linear'
                        });

                    }
                },2000);          
            }
        }
    });
</script>