<% layout('layouts/layout') -%>
<section class="termsAndConditions hero hero--white hero--after hero--after--coral hero--after--fixedHeight">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 position-relative z-index-222">
              <div class="innerHeader d-flex justify-content-between align-items-center">
                <div class="logoMark">
                    <a href="/">
                        <img src="images/logo-blue-whitemark.svg" height="60px" alt="high five brand logo">
                    </a>
                </div>
                <div class="userActions">
                    <a href="#" class="font-white mr-4 noPrint" onclick="window.print();"><i class="fas fa-print"></i> <span>Print</span></a>
                    <a href="#" download="" class="font-white"><i class="fas fa-cloud-download-alt"></i> <span>Download PDF</span></a>
                </div>
              </div>
              <h1 class="font-white font-bold text-center page-title">
                Terms of Service
              </h1>
          </div>
      </div>
      <div class="row position-relative z-index-222">
          <div class="offset-xxl-2 col-xxl-8 offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-sm-12">
            <div class="card card-xl">
              <div class="card-body">
                  <h4 class="font-bold mb-3">Website Disclaimer</h4>
                  <p class="mb-4">
                    The information included in this website is for general information purposes. Although the college endeavours to keep information on the website updated and correct, we cannot guarantee that it is so. As a result, the college makes no representations or warranties of any kind, either express or implied, about the completeness, accuracy, reliability, suitability, or availability of either the website itself or the information, products, or services provided on it. The viewer to the website is responsible for contacting the appropriate college office to verify information, and any reliance that the visitor to the website may place on the information, products, or services provided on the website is, therefore, strictly at his or her own risk.
                    <br><br>
                    In no event will the college be liable for any loss or damage whatsoever that may arise in connection with the use of this website.
                    <br><br>
                    Through this website, the viewer may be able to link to other websites that are not under the control of the college. The existence of these links does not suggest that the college approves, recommends, or endorses the content of those websites.
                  </p>
                  <h4 class="font-bold mb-3">Personal Information</h4>
                  <p class="mb-4">
                    High5 is committed to respecting your privacy and recognizes your need for appropriate protection and management of any personally identifiable information (“Personal Information”) you share with us. high5hire has established this Privacy Policy to let you know what information we may collect from you on the publicly available portion of high5hire.com (the “Site”) and through various other interactions with you, and how we may use and share that information. Please take a moment to review the terms of our Privacy Policy. By using the Site and/or providing us with Personal Information, you agree to accept the terms of our Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the Site or provide us with any Personal Information. This Privacy Policy applies to information that we collect on the Site and to information which we may collect by other “offline” means, including, without limitation, sales calls and other business transactions. A description of the information we collect on behalf of our advertiser or clients through our advertising and marketing services are set out in our Notice of Marketing Practices.
                  </p>
                  <h4 class="font-bold mb-3">How We May Use Your Information</h4>
                  <p class="mb-4">
                    If you provide us with Personal Information, we may retain and use that information for several purposes, including facilitating and otherwise addressing your inquiry, request, subscriptions, or business transactions and relationship with high5hire. For example, we may use your Personal Information in order to respond to your questions or requests for information about high5hire. We may also use Personal Information to ensure compliance with our policies and applicable law.
                  </p>           
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
