<% layout('/layouts/layout-hiringmanager-open') -%>
<div class="section section-lg">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10 text-center">
                <img src="/images/coming-soon-graphic.svg" class="comingSoonImg" alt="coming soon graphic image">
                <h3 class="mt-3">Assignments Coming Soon</h3>
                <p>Greatness Awaits</p>
            </div>
        </div>
    </div>
</div>