<% layout('/layouts/layout-candidate-closed') -%>
<section class="section section-sm">
	<div class="hero">
		<div class="section pt-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="text-center font-white">
                                <h5 class="mb-5">Node.js Beginners Course</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="translate-up-100">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
                    <div class="card card-lg mb-2">
                        <div class="card-body">
                            <img src="/images/video_player_placeholder.gif" class="img-fluid mb-3">
                            <p class="mb-1"><small>Progress</small></p>
                            20% Complete
                            <div class="alert-progress alert-progress-static bg-gray3">
                                <div style="width: 20%;" class="alert-progress-bar"></div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	 </div>

</section>
